---
import BaseLayout from "@/layouts/BaseLayout.astro";
import SectionHeading from "@components/layout/SectionHeading.astro";
import PostCard from "@components/blog/PostCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("posts"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<BaseLayout title="Posts">
  <SectionHeading title="posts">
    <div class="flex flex-col gap-4">
      {
        posts.map((post) => (
          <PostCard
            title={post.data.title}
            date={post.data.date}
            description={post.data.description}
            tags={post.data.tags}
            slug={post.id}
          />
        ))
      }
    </div>
  </SectionHeading>
</BaseLayout>
